.intro{
background-image: url(../img/pizza.jpeg);
background-size: cover;
background-repeat: no-repeat;
}
.menu{
  text-align: center;
  color: orange;
  background-color: black;
}
.intro{
  text-align: center;
  color: orangered;
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
}
.ourmenu{
  background-image: url(../img/menup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color:white;
  font-size: x-large;
}
.topping{
    height: 200px;
    max-width: auto;
    position: center;
}